.navigation, #chk-burger {
    display: none;
    position : fixed;
    top : 40px;
    right : 10px;
}

.navigation__bouton {
    position : fixed;
    top : 10px;
    right : 10px;
}
#chk-burger:checked ~ .navigation{
    display: block;
}
.navigation a{
    display: block;
    color : #fff;
}