.article{
    display: flex;
    gap : 20px;
    /*
    flex-wrap: wrap;
    */

}
.article__div {
    /*
    flex-grow: ;
    flex-shrink: ;
    flex-basis: ;
    */
}
.article__div p {}
.article__figure {
    /*
    flex-grow: ;
    flex-shrink: ;
    flex-basis: ;
    */
}
.article__figure img {}
.article__figure figcaption {}