.entete__nav{
    position: fixed;
    top:5px;
    right:20px;
    width : 400px;
    /* 2rem = 2*14px  */
    font-size: 2rem;
    background-color: beige;
    padding:10px;
}

.entete__nav a {
    text-decoration: none;
    padding:10px;

}
.entete__nav a:hover{
       background-color: rgb(92, 92, 78); 
       color:rgb(211, 110, 28)
}