*{
    box-sizing: border-box;
}
html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:14px;
}
body{
    margin:0;
    padding:0;
}
h1,h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.haut{
  
    background-color: rgb(56 182 255);
}
.millieu{
     background-color: rgb(99, 177, 172);
}
.bas{
      background-color: rgb(83, 129, 159);
}


.centre{
    max-width : 1100px;
    margin : 0 auto;
    background-color: #ffffff49;
    align-items: center;
    flex-wrap: wrap;
}
/* /////////////////////////////////////////////////////////// .entete   */
.entete{
    display: flex;
    justify-content: space-between;
}
.entete__titre{
    display: flex;
    align-items: center;
    gap: 20px;
}

.entete__logo{
    display:block;
    width : 100px;
    height: 100px;
    border-radius: 50%;
}
.entete__h1{
    font-size: 4rem;
}
.entete__navform{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.entete__sociaux,
.pied__sociaux {
    display:flex;
    gap:20px;
    margin:0;
}

.entete__sociaux{
  
}




/* /////////////////////////////////////////////////////////// .principal  */
.principal{}


/* /////////////////////////////////////////////////////////// .pied  */
.pied{}