*{
    box-sizing: border-box;
}
html{
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    margin :0;
    padding:0;
    
}
.centre{
    max-width: 1100px;
    margin:0 auto;
}
table {
    border : 1px solid #aaa;
    width : 100%;
    /* margin:0 auto; */
}

td,th {
    border : 1px solid #aaa;
    padding: 5px;
    font-size: 4rem;
}

th {
    text-align: left;
}
