* {
    box-sizing:border-box;
    margin : 0;
    padding: 0;
}

body {
    /* On défini une image en arrière plan */
    /*  le «..» permet de remonter au dossier parent */
    background-image: url("../images/img-01.jpeg");
    /* pour définir le type de répétition de l'image */
    background-repeat: no-repeat;
    /* équivalent à « object-fit: cover » des images <img> */
    background-size: cover;
    /*  vh : unité de mesure verticale 
    qui représente un  pourcentage de la hauteur global de la fenêtre.
    La fenêtre peut associé à : une fenêtere desktop ou tablette ou mobile 
    vw : même chose que vh mais dans une direction horizontale  */
    height: 100vh; /* 100% de la hauteur de la fenêtre.
    Les unités vh et vw sont utilisé principalement sur les grans conteneur (niveau 1 ou 2 ou 3) */
     text-align: center;
}

h1{
    max-width : 900px;
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    padding: 40px;
    margin: 49px;
    background-color: rgba(240, 248, 255, 0.84);
    /* ombrage autour d'un bloc */
    box-shadow: 13px 14px 17px #ffffffa3;
    /* ombrage autour d'un caractère */
    text-shadow: 6px 5px 7px #777;
    /* espace entre les caractères */
    letter-spacing: 5px;
}

