
img{
    display:block;
    width : 300px;
}

/*
.mon-filtre{

      filter: contrast(1.09) hue-rotate(118deg) invert(0.24) opacity(0.9) saturate(2.75) sepia(0.35);
}

.mon-filtre:hover{
      filter: none;
}
      */

.ma-transformation{
    transform : scale(.5);
    transition : transform 1s ,filter 2s;
      
    filter: contrast(1.09) hue-rotate(118deg) invert(0.24) opacity(0.9) saturate(2.75) sepia(0.35);
}

.ma-transformation:hover{
     transform : scale(1);   
     filter : none; 
}