*{
    box-sizing: border-box;
}
html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}
.hero{}

h1,h2{
  margin:0;
  padding:0;
}
.hero__h1{
  /* font-size: clamp(valeur minimum, taux variation, valeur maximum); */
  font-size: clamp(1rem, 10vw, 7rem);
}

.hero__h2{
font-size: clamp(1rem, -4rem + 16vw, 7rem);
}