*{
    box-sizing: border-box;
}
html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:14px;
}
body{
    margin:0;
    padding:0;
}
h1,h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color :#555;
}
figure {
    margin : 0;
}


.haut{
  
    background-color: rgb(56 182 255);
}
.millieu{
         background-color: rgb(185 251 240);
}
.bas{
      background-color: rgb(83, 129, 159);
}


.centre{
    max-width : 1100px;
    margin : 0 auto;
    background-color: #ffffff49;
    padding : 35px;


}
/* /////////////////////////////////////////////////////////// .entete   */
.entete{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.entete__titre{
    display: flex;
    align-items: center;
    gap: 20px;
}

.entete__logo{
    display:block;
    width : 100px;
    height: 100px;
    border-radius: 50%;
}
.entete__h1{
    font-size: 4.5rem;
}
.entete__navform{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap:10px;
}
.entete__nav {
    display : flex;
    gap: 10px;
}

.entete__nav a{
    display : block;
    text-decoration: none;

}

.entete__sociaux,
.pied__sociaux {
    display:flex;
    gap:20px;
    margin:0;
}

.entete__sociaux{
  
}




/* /////////////////////////////////////////////////////////// .principal  */
.principal{
    display : flex;
    flex-wrap: wrap;
    gap: 20px;
}
.principal__article{
    flex-grow: 1 ;
    flex-shrink:0 ;
    flex-basis: 300px;
}
.principal__article h2{
    font-size: 2.5rem;
}
.principal__ul {
    list-style: none;
    padding:0;
    margin:0;
}
.principal__article p {
   line-height: 1.5rem;
}

.principal__figure{
    flex-grow:1 ;
    flex-shrink:0 ;
    flex-basis: 500px ;
}
.principal__figure  img {
display : block;
width : 100%;
object-fit: cover;
}


/* /////////////////////////////////////////////////////////// .pied  */
.pied{}