
img{
    display:block;
    width : 300px;
}


.mon-filtre{
/* 
Générateur de filtre
https://www.cssfilter.com/  */
      filter: contrast(1.09) hue-rotate(118deg) invert(0.24) opacity(0.9) saturate(2.75) sepia(0.35);
}

.mon-filtre:hover{
      filter: none;
}


